*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
}
html{
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
    scroll-behavior: smooth;
}
body{
    margin: 0%;
    padding: 0%;
}
.layar-dalam{
    width: 1000px;
    margin: auto;
}
.layar-penuh{
    width: 100%;
    
}
nav{
    z-index: 100;
    color: #ffffff;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #b1b1b1;
    line-height: 60px;
    width: 100%;
}
nav .putih {
    background-color: #ffffff;
}
nav .logo{
    float: left;
    position: relative;
    line-height: 50px;
    text-align: center;
}
nav .logo img{
    vertical-align: middle;
    width: 170px;
    border-radius: 15px;
    
}
nav .menu{
    float: right;
    height: 60px;
    max-width: 700px;
}
nav .menu ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
}

nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 90px;
}

nav ul li a{
    color: #010101;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

/* Pengaturan header */
header{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}
header video{
    position: absolute;
    top: 0%;
    left: 0%;
    object-fit: cover;
    z-index: -2;
}
header .intro{
    z-index: 100;
    color: #010101;
    text-align: center;
    position: relative;
    top: 36%;
}

.tombol{
    background-color: #cfc7a0;
    height: 40px;
    line-height: 42px;
    color: #010101;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tombol-menu{
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.tombol-menu .garis{
    height: 3px;
    background-color: #cbc090;
}
section{
    padding: 50px 0px 50px 0px;
}
section h3{
    font-size: 30px;
}
section h3::after{
    content: "";
    border-bottom: 5px solid #aea475;
    width: 52px;
    display: block;
    margin: 20px auto;
}
#aboutus,
#support,
#team,
#blog,
#icon{
    text-align: center;
}
section p.ringkasan{
    font-style: italic;
    font-size: 18px;
    color: #c1aa61;
}
section .konten-isi p{
    font-style: normal;
}
nav.putih{
    background-color: #ffffff;
}
section.abuabu{
    background-color: #f6f6f6;
}

.support,
.tim,
.blog,
.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.support h6,
.tim h6{
    margin: 0%;
    margin-top: 20px;
    padding: 0%;
    font-size: 18px;
    font-weight: bold;
}
.support img{
    width: 120px;
}
.support div,
.tim div{
    text-align: center;
    width: 26%;
}
section#icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}
section#icon div{
    padding: 10px;
}
section#icon div img{
    width:270px;
    height: 280px;
    border-radius: 5px;
}
section#icon div img:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
section.quote{
    background: url('icon\ 1.png');
    background-attachment:scroll;
    background-position: center;
    background-size:auto; 
    text-align: center;
    color: #ffffff;
    font-size: 40%;
    font-style: italic;
    padding: 100px;
    margin: 20px;
    border-radius: 10px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tim img{
    width: 100%;
    box-shadow: 0px -10px 30px rgb(238, 238, 238);
    border-radius: 5px;
}
.blog .area{
    width: 47%;
    box-shadow: 0px -10px 30px #fefefe;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blog div.area div{
    width: 50%;
}
.blog .area .gambar{
    border-radius: 5px 0px 0px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
.blog .area .text article{
    padding: 30px;
    padding-top: 50px;

}
.blog .area .text article h4{
    margin: 30px;
}
.blog .area .text article a{
    color: #8b8b8b;
    text-decoration: none;
    transition: color 0.5s ease;
}
.blog .area .text article a:hover{
    color: #d7d3d3;
}
footer{
    padding: 50px 0px 50px 0px;
    background-color: #e1dede;
    color: #64635e;
    text-align: center;
}
footer .layar-dalam .contac .info a{
    color: #8b8b8b;
    text-decoration: none;
    transition: color 0.5s ease;

}

footer .layar-dalam .copyright{
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid #8b8b8b;
}
footer .layar-dalam .bawah{
    width: 100%;
    margin-top: 1px;
    padding-top: 1px;
    text-align: center;
    font-size: 70%
}

@media screen and (max-width: 991.98px) {
    .layar-dalam{
        width: 90%;
    }
    nav .menu ul{
        display: none;
        margin-top: 60px;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
    }
    nav .menu ul li{
        width: 100%;
        border-bottom: 1px solid #fefefe;
        background-color: #cbc090;
        line-height: 10px;
    }
    nav .menu ul li a{
        color: #010101;
    }
    .tombol-menu{
        display: flex;
    }
    .blog .area{
        display: block;
    }
    .blog div.area div{
        width: 100%;
    }
    .blog .area .gambar{
        border-radius: 5px 5px 0px 0px;
        height: 200px;
    }
    .support{
        display: block;
    }
    .support div{
        width: 100%;
        padding-bottom: 30px;
    }
    
}